@import url('https://fonts.googleapis.com/css2?family=Montserrat');
html {
    font-family: Montserrat !important;
}

.topNav {
    color: rgba(40, 48, 0, 0.61);
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word
}

.topNav:hover {
    text-decoration: underline;
}

.mainNav {
    color: black;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.mainNav:hover {
    cursor: pointer;
}

.title {
    left: 329px;
    top: 218px;
    position: absolute;
    color: black;
    font-size: 48px;
    font-weight: 700;
    word-wrap: break-word;
}

.premRewBlock {
    left: 650px;
    top: 286px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;
    word-wrap: break-word;
}

.rewBlock {
    left: 815px;
    top: 457px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;
    word-wrap: break-word;
}

.footerLinks {
    color: black;
    font-size: 12px;
    font-weight: 700;
    word-wrap: break-word;
    left: 104px;
    top: 704px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    display: inline-flex;
    margin: auto;
}

.footerDiv:hover {
    text-decoration: underline;
}

#footerBar {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 687px;
    position: absolute;
    background: #D9D9D9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#btn {
    width: 142px;
    height: 40px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #1C8900;
    border-radius: 10px;
}

.btnFont {
    left: 18px;
    top: 10px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

.btnFont2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

.btn:hover {
    background: #135c00;
}

.btnFont2:hover {
    background: #135c00;
}


/* login CSS starts here */

.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0 px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /* background: rgba(217, 217, 217, 0.5); */
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 300 px;
    height: 440 px;
    background: #f5f5f5;
    z-index: 2;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body .showLoginForm .popup .popup-overlay {
    display: block;
}

body .showLoginForm .popup {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup .popup-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: #555;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 25%;
    cursor: pointer;
}

.popup .form .avatar {
    margin: 30px 20px 20px;
    text-align: center;
}

.popup .form .avatar img {
    width: 120px;
}

.popup .form .header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.popup .form .element {
    padding: 8px 20px;
}

.popup .form .element label {
    display: block;
    font-size: 14 px;
    color: #222;
    margin-bottom: 5px;
}

.popup .form .element input {
    width: 100%;
    padding: 8 px 10 px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.popup .form .element button {
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(28, 137, 0, 1);
    color: #f5f5f5;
}


/* end login CSS */